<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:fragment="pagination(path)" class="py-3 container">
    <nav aria-label="Page navigation example" class="d-flex justify-content-end">
        <ul class="pagination">
            <li class="page-item disabled" th:if="${pageNo <= 0}">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:if="${pageNo != 0}">
                <a class="page-link" th:href="@{${path}(pageNo=${previousPage})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:class="${i == pageNo ? 'page-link active' : 'page-link'}" th:href="@{${path}(pageNo=${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item disabled" th:if="${pageNo >= totalPages - 1}">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item" th:if="${pageNo < totalPages - 1}">
                <a class="page-link" th:href="@{${path}(pageNo=${nextPage})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>

