<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header th:insert="fragments/header.html"></header>
    <main class="mb-5">
        <div class="mt-3 px-5">
            <a th:href="@{/students/mutate/0}" class="btn btn-info">Create</a>
        </div>
        <div th:text="${success}" class="alert alert-success"></div>
        <div class="my-3" th:if="${success != null}">
            <div class="alert alert-success" th:text="${success}"></div>
        </div>
        <h1 class="h2 py-4 text-center">Students List</h1>
        <div class="px-5 table-responsive">
            <table class="table" style="min-width: 800px;" id="studentTable">
            </table>
        </div>
<!--        <div th:replace="fragments/pagination-nav.html :: pagination(path='/')"></div>-->
    </main>


    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/js/dataTables.js}"></script>
    <script>
        $("#studentTable").DataTable({
            paging: true,
            pageLength: 10,
            ajax: {
                url: "/api/students",
                dataSrc: 'data',
            },
            columns: [
                {
                    name: "id",
                    title: "Id",
                    data: "id"
                },
                {
                    name: "name",
                    title: "Name",
                    data: "name"
                },
                {
                    name: "email",
                    title: "Email",
                    data: "email"
                },
                {
                    name: "dateOfBirth",
                    title: "Date Of Birth",
                    data: "dateOfBirth"
                },
                {
                    name: "school",
                    title: "School",
                    data: "school",
                    render: function(data, type, row, meta) {
                        return `
                            <span>${row.school ? row.school.name: "No School"}</span>
                        `
                    }
                },
                {
                  name: "startedAt",
                  title: "Started At",
                  data: "startedAt",
                  render: function(data, type, row, meta) {
                        return `
                            <span>${row.startedAt ? row.startedAt : 'No date selected'}</span>
                        `
                  }
                },
                {
                    name: "actions",
                    title: "Actions",
                    data: null,
                    render: function(data, type, row, meta) {
                        return `
                    <div class="d-flex gap-2">
                        <a href="/students/mutate/${row.id}" class="btn btn-sm btn-primary">Edit</a>
                        <form method="POST" action="/students/delete/${row.id}">
                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    `
                    }
                }
            ],
            columnDefs: [
                {
                    targets: -1,
                    orderable: false,
                    searchable: false,
                }
            ],
            processing: true,
            serverSide: true
        });
    </script>
</body>
</html>