<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students Management</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="fragments/header.html"></header>
<main class="mb-5">
    <div th:if="${!#authentication.authorities.isEmpty() && #authentication.authorities[0].authority == 'ROLE_ADMIN'}">
        <div class="mt-3 px-5">
            <a th:href="@{/schools/school/0}" class="btn btn-info">Create</a>
        </div>
    </div>

    <h1 class="h2 py-4 text-center">Schools List</h1>
    <div class="px-5">
        <table id="schoolTable" class="display mx-auto" style="max-width: 600px; min-width: 500px;">
        </table>
    </div>
</main>

<div id="USER_ROLE" class="d-none" th:text="${#authentication.authorities[0].authority}"></div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/js/dataTables.js}"></script>
<script>

    const role = document.getElementById("USER_ROLE");

    let columns = [
        {
            name: "id",
            title: "Id",
            data: "id"
        },
        {
            name: "name",
            title: "Name",
            data: "name"
        },
        {
            name: "principal",
            title: "Principal",
            data: "principal"
        },
        {
            name: "actions",
            title: "Actions",
            data: null,
            render: function(data, type, row, meta) {
                return `
                    <div class="d-flex gap-2">
                        <a href="/schools/school/${row.id}" class="btn btn-sm btn-primary">Edit</a>
                        <form method="POST" action="/schools/school/delete/${row.id}">
                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    `
            }
        }
    ];

    let columnDefs = [
        {
            targets: -1,
            orderable: false,
            searchable: false,
        }
    ]

    if(role.textContent !== "ROLE_ADMIN") {
        columns = columns.slice(0, -1);
        columnDefs = [];
    }

    $("#schoolTable").DataTable({
        paging: true,
        pageLength: 10,
        ajax: {
            url: "/api/schools",
            dataSrc: 'data',
            type: "POST",
            contentType: "application/json",
            data: function(d) {
                return JSON.stringify(d);
            },
        },
        columns,
        columnDefs,
        processing: true,
        serverSide: true,
    });
</script>
</body>
</html>