<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students Management</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <style>
        .text-sm {
            font-size: 14px;
        }
    </style>
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main>
    <h2 class="py-4 text-center">Student Form</h2>
    <div class="px-5">
        <div class="card mx-auto" style="max-width: 500px; width: 90%;">
            <div class="card-body p-4">
                <h5 class="card-title mb-3 text-center" th:text="${#objects.nullSafe(school.getId(), 0 ) == 0 ? 'Create School' : 'Edit School'}"></h5>

                <form action="#" th:action="@{/schools/school}" method="POST" th:object="${school}">
                    <input name="id" type="hidden" th:field="*{id}">

                    <div class="mb-4">
                        <label for="name" class="mb-2">Name</label>
                        <input name="name" id="name" class="form-control mb-1" th:field="*{name}"/>
                        <span th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}"
                              class="text-sm text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <label for="principal" class="mb-2">Principal Name</label>
                        <input name="principal" id="principal" class="form-control mb-1" th:field="*{principal}"/>
                        <span th:if="${#fields.hasErrors('principal')}"
                              th:errors="*{principal}"
                              class="text-sm text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-primary d-block ms-auto" th:text="${#objects.nullSafe(school.getId(), 0 ) == 0 ? 'Create' : 'Update'}"></button>

                </form>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>